* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.test {
  background-color: rgb(86, 255, 176);
}

.marker {
  background-color: rgb(236, 106, 0);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 28px;
  left: -30px;
  border-radius: 50%;
  cursor: pointer;
}

.paw {
  /* background-color: rgb(192, 55, 226); */
  width: 20px;
  height: 20px;
  position: absolute;
  top: 28px;
  left: -30px;
  cursor: pointer;
  object-fit: contain;
}

.lowRisk {
  background-color: rgb(112, 255, 136);
  border: 1px solid rgb(35, 185, 60);
}

.mediumRisk {
  background-color: rgb(253, 255, 119);
  border: 1px solid rgb(177, 163, 39);
}

.highRisk {
  background-color: rgb(255, 137, 137);
  border: 1px solid rgb(189, 50, 50);
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.849);
  border: 1px solid rgb(35, 185, 60);
  word-wrap: normal;
  padding: 5px;
  overflow: hidden;
  width: 100px;
  height: auto;
  position: absolute;
  top: 17px;
  left: -43px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

.lowRisk > .tooltip {
  border: 2px solid rgb(35, 185, 60);
}

.mediumRisk > .tooltip {
  border: 2px solid rgb(177, 163, 39);
}

.highRisk > .tooltip {
  border: 2px solid rgb(189, 50, 50);
}

.marker:hover > .tooltip {
  opacity: 1;
  transition: 0.2s;
}

.popup-container {
  width: 400px;
  height: 500px;
  background-color: #eee;
  padding: 20px;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.logo-img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.title {
  text-align: center;
  color: #222;
  margin-top: 15px;
  font: 400 1.8rem "Segoe UI", sans-serif;
}

.para {
  width: 100%;
  text-align: center;
  color: #222;
  margin-top: 15px;
  font: 300 1rem "Segoe UI", sans-serif;
}

.marker-popup-container {
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marker-popup {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
